# Configuration de l'application
VITE_APP_VERSION=

# Informations sur le Patch actuel
VITE_PATCH_VERSION=
VITE_PATCH_DATE=
VITE_PATCH_SIZE=

# Liens de téléchargement des Patchs (.zip)
VITE_SUPERNOVA_PATCH_LINK=
VITE_BIGBANG_PATCH_LINK=

# Informations et Liens des ROMs pré-patchées (.cia/.3ds)
VITE_ROM_SIZE=
VITE_SUPERNOVA_ROM_LINK=
VITE_BIGBANG_ROM_LINK=